.Home_H1 {
  margin-bottom: 30px;
}

.button-box {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.button-box button {
  width: 180px;
  height: 40px;
}

.Index-Page {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center; /* 위아래 가운데 */
  align-items: center; /* 좌우 가운데 */
  text-align: center;
}
